# This file is part of the Data Warehouse project, and it's used to test the following:
* Creating Staging, Fact and Dimension table schema from create_tables.py file
* Load raw data from S3 buckets to Redshift staging tables from etl.py file

In [46]:
import pandas as pd
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

# Load DB Params, LOG Params, DWH Params from a dwh.cfg file

In [ ]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

# CLUSTER
HOST = config.get("CLUSTER", "HOST")
DB_USER = config.get("CLUSTER", "DB_USER")
DB_PASSWORD = config.get("CLUSTER", "DB_PASSWORD")
DB_PORT = config.get("CLUSTER", "DB_PORT")
DB_NAME = config.get("CLUSTER", "DB_NAME")

# IAM_ROLE
DWH_ROLE_ARN = config.get("IAM_ROLE", "ARN")

# S3
LOG_DATA = config.get("S3", "LOG_DATA")
LOG_JSONPATH = config.get("S3", "LOG_JSONPATH")
SONG_DATA = config.get("S3", "SONG_DATA")

# AWS
KEY = config.get('AWS', 'KEY')
SECRET = config.get('AWS', 'SECRET')
REGION_NAME = config.get('AWS', 'REGION_NAME')

pd.DataFrame({"Param":
              ["HOST", "DB_USER", "DB_PASSWORD", "DB_PORT", "DB_NAME",
                  "DWH_ROLE_ARN", "LOG_DATA", "LOG_JSONPATH", "SONG_DATA", "REGION_NAME"],
              "Value":
                  [HOST, DB_USER, DB_PASSWORD, DB_PORT, DB_NAME,
                      DWH_ROLE_ARN, LOG_DATA, LOG_JSONPATH, SONG_DATA, REGION_NAME]
              })

# Check out the sample data sources on S3

In [48]:
import boto3 

s3 = boto3.resource('s3',
                       region_name=REGION_NAME,
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                     )

sampleDbBucket =  s3.Bucket("udacity-dend")

for obj in sampleDbBucket.objects.filter(Prefix="log_data"):
    print(obj)

s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-09-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-10-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-11-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-12-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-13-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-14-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-15-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-16-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-17-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-18-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-19-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-20-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-21-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-22-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-23-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-24-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-25-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-26-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-27-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-28-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-29-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-30-events.json')

# Connect to the cluster

In [ ]:
conn_string = "postgresql://{}:{}@{}:{}/{}".format(
    DB_USER, DB_PASSWORD, HOST, DB_PORT, DB_NAME)
print(conn_string)
%sql $conn_string

# Creating Staging, Fact and Dimension table schema

In [61]:
!python3 create_tables.py

In [ ]:
%sql SELECT DISTINCT tablename FROM pg_table_def WHERE schemaname = 'public';

# ELT pipeline builder to load raw data from S3 buckets to Redshift staging tables

In [63]:
!python3 etl.py

In [64]:
# staging_events table overview
%sql SELECT * FROM staging_events LIMIT 5

 * postgresql://awsuser:***@dwhcluster.cwzd3knpxcxe.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('N.E.R.D. FEATURING MALICE', 'Logged In', 'Jayden', 'M', 0, 'Fox', 288.9922, 'free', 'New Orleans-Metairie, LA', 'PUT', 'NextSong', 1541033612796.0, 184, 'Am I High (Feat. Malice)', 200, 1541121934796, '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 101),
 (None, 'Logged In', 'Stefany', 'F', 0, 'White', None, 'free', 'Lubbock, TX', 'GET', 'Home', 1540708070796.0, 82, None, 200, 1541122176796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 83),
 ('Death Cab for Cutie', 'Logged In', 'Stefany', 'F', 1, 'White', 216.42404, 'free', 'Lubbock, TX', 'PUT', 'NextSong', 1540708070796.0, 82, 'A Lack Of Color (Album Version)', 200, 1541122241796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 83),
 ('Tracy Gang Pussy', 'Logged In', 'Stefany', 'F', 2, 'White', 221.33506, 'free', 'Lubbock, TX', 'PUT', 'NextSong', 1540708070796.0, 82, 'I Have A Wish', 200, 1541122457796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 83),
 ('Skillet', 'Logged In', 'Kevin', 'M', 0, 'Arellano', 178.02404, 'free', 'Harrisburg-Carlisle, PA', 'PUT', 'NextSong', 1540006905796.0, 153, 'Monster (Album Version)', 200, 1541126568796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 66)]

In [65]:
# staging_songs table overview
%sql SELECT * FROM staging_songs LIMIT 5

 * postgresql://awsuser:***@dwhcluster.cwzd3knpxcxe.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(1, 'AR10USD1187B99F3F1', None, None, 'Burlington, Ontario, Canada', 'Tweeterfriendly Music', 'SOHKNRJ12A6701D1F8', 'Drop of Rain', 189.57016, 0),
 (1, 'ARAO91X1187B98CCA4', 41.50471, -81.69074, 'Cleveland, Ohio', 'Tracy Chapman', 'SOJCRUY12A67ADA4C2', 'Fast Car (LP Version)', 296.07138, 1988),
 (1, 'ARZHPKG1187FB4A298', None, None, 'Oakland, CA', 'Judee Sill', 'SOCEGVY12AB0182BBC', 'The Wreck of the FFV - Fast Flying Vestibule', 193.35791, 0),
 (1, 'ARWAFY51187FB5C4EF', None, None, 'Atlanta, GA', 'Lil Scrappy', 'SOHQZIB12A6D4F9FAF', "N****_ What's Up [Featuring 50 Cent] (Album Version)", 196.85832, 2006),
 (1, 'ARSSDXP1250940EA97', None, None, '', 'Benito Kamelas', 'SOXWMCD12AB01810DB', 'Loko', 227.89179, 2005)]

In [66]:
# songplays table overview
%sql SELECT * FROM songplays LIMIT 5

 * postgresql://awsuser:***@dwhcluster.cwzd3knpxcxe.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(6, datetime.datetime(2018, 11, 9, 19, 57, 57), 36, 'paid', 'SODWXQV12A6310F10D', 'AR6892W1187B9AC71B', 392, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (70, datetime.datetime(2018, 11, 2, 18, 36, 53), 71, 'free', 'SOBBZPM12AB017DF4B', 'ARH6W4X1187B99274F', 70, 'Columbia, SC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D201 Safari/9537.53"'),
 (134, datetime.datetime(2018, 11, 19, 17, 41, 51), 52, 'free', 'SOFPDCU12A6D4FD0DC', 'AR8P6CT1187FB458AB', 601, 'Houston-The Woodlands-Sugar Land, TX', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (198, datetime.datetime(2018, 11, 29, 16, 18, 25), 49, 'paid', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 1041, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (262, datetime.datetime(2018, 11, 15, 12, 50, 26), 30, 'paid', 'SOSQIRI12A8C133897', 'AR1XIHA1187FB4AED3', 324, 'San Jose-Sunnyvale-Santa Clara, CA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0')]

In [67]:
# users table overview
%sql SELECT * FROM users LIMIT 5

 * postgresql://awsuser:***@dwhcluster.cwzd3knpxcxe.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(101, 'Jayden', 'Fox', 'M', 'free'),
 (80, 'Tegan', 'Levine', 'F', 'free'),
 (55, 'Martin', 'Johnson', 'M', 'free'),
 (30, 'Avery', 'Watkins', 'F', 'paid'),
 (8, 'Kaylee', 'Summers', 'F', 'free')]

In [68]:
# songs table overview
%sql SELECT * FROM songs LIMIT 5

 * postgresql://awsuser:***@dwhcluster.cwzd3knpxcxe.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOJCRUY12A67ADA4C2', 'Fast Car (LP Version)', 'ARAO91X1187B98CCA4', 1988, 296.07138),
 ('SOCSEYN12A6D4F8178', 'Tell Me Why', 'ARXP7MQ1187FB3AC5F', 2006, 305.34485),
 ('SOCXCHM12AB018555C', 'Sve ce to_mila moja_prekriti ruzmarin_.', 'AR44VVY1187FB4C2EC', 0, 471.71873),
 ('SONRVSA12A6D4F7A88', 'Will I Find Someone', 'ARP4J5Q1187B99171D', 1995, 234.10893),
 ('SOQEBML12A8C136AA4', 'Werther (1997 Digital Remaster)_ PREMIER ACTE/ACT ONE/ERSTES AKT: Mon 창me a reconnu votre 창me(Werther/Charlotte)', 'AR5R7791187FB3A8C3', 0, 55.40526)]

In [69]:
# artists table overview
%sql SELECT * FROM artists LIMIT 5

 * postgresql://awsuser:***@dwhcluster.cwzd3knpxcxe.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARWAFY51187FB5C4EF', 'Lil Scrappy', 'Atlanta, GA', None, None),
 ('ARTC1LV1187B9A4858', 'The Bonzo Dog Band', "Goldsmith's College, Lewisham, Lo", 51.4536, -0.01802),
 ('ARHAIBP1187B99FB99', 'Department of Eagles', 'Brooklyn, NY', 40.65507, -73.94888),
 ('AR19SOA1187B98F6E6', 'Bob Neuwirth', 'New York', 40.71455, -74.00712),
 ('AR5T40Y1187B9996C6', 'The Bear Quartet', 'Lulea, Sweden', None, None)]

In [70]:
# time table overview
%sql SELECT * FROM time LIMIT 5

 * postgresql://awsuser:***@dwhcluster.cwzd3knpxcxe.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 13, 18, 39, 37), 18, 13, 46, 11, 2018, '2'),
 (datetime.datetime(2018, 11, 29, 18, 5, 39), 18, 29, 48, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 15, 17, 6, 32), 17, 15, 46, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 4, 6, 18, 31), 6, 4, 44, 11, 2018, '0'),
 (datetime.datetime(2018, 11, 18, 19, 24, 51), 19, 18, 46, 11, 2018, '0')]